<!-- 
    <nav class="navbar bg-success ">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <img src="https://tse2.mm.bing.net/th?id=OIP.JuB1KquM9Prch5-51xuGpgHaF-&pid=Api&P=0&h=180" alt="Logo" width="80" height="60" class="d-inline-block align-text">
              <b style="font-family: cursive; font-weight: 900;" > &nbsp;KINDERLAND</b>  
              </a>
              <form class="d-flex" role="search">
                <input (keyup)="Search($event)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info bg-light" type="submit">Search</button>
              </form>
        
        </div>
      </nav> -->




      
    <nav class="navbar bg-success ">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <img src="https://tse2.mm.bing.net/th?id=OIP.JuB1KquM9Prch5-51xuGpgHaF-&pid=Api&P=0&h=180" alt="Logo" width="80" height="60" class="d-inline-block align-text">
              <b style="font-family: cursive; font-weight: 900;" > &nbsp;KINDERLAND</b>  
              </a>        
        </div>
      </nav>