<!-- nav -->
<nav class="navbar bg-success ">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
          <img src="https://tse2.mm.bing.net/th?id=OIP.JuB1KquM9Prch5-51xuGpgHaF-&pid=Api&P=0&h=180" alt="Logo" width="80" height="60" class="d-inline-block align-text">
        <b style="font-family: cursive; font-weight: 900;" > &nbsp;KINDERLAND</b>  
        </a>        
  </div>
</nav>




<body background="https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-kindergarten-activity-exhibition-board-background-material-image_156594.jpg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-3"> <b> OUR HOUSE</b></h1>
                <p style="text-align: justify;">Pre-kindergarten (also called Pre-K or PK) is a voluntary classroom-based preschool program for children below the age of five in the United States, Canada, Turkey and Greece (when kindergarten starts). It may be delivered through a preschool or within a reception year in elementary school. Pre-kindergartens play an important role in early childhood education. They have existed in the US since 1922, normally run by private organizations. The U.S. Head Start program, the country's first federally funded pre-kindergarten program, was founded in 1967. This attempts to prepare children (especially disadvantaged children) to succeed in school.
    
                    Pre-kindergartens differentiate themselves from other child care by equally focusing on building a child's social development, physical development, emotional development, and cognitive development.[citation needed] They commonly follow a set of organization-created teaching standards in shaping curriculum and instructional activities and goals. The term "preschool" more accurately approximates the name "pre-kindergarten", for both focus on harvesting the same four child development areas in subject-directed fashion. The term "preschool" often refers to such schools that are owned and operated as private or parochial schools. Pre-kindergartens refer to such school classrooms that function within a public school under the supervision of a public school administrator and funded completely by state or federally allocated funds, and private donations.</p>
                
                <a routerLink="/front/home" class="btn btn-success" style="float:right"> <i class="fa-solid fa-arrow-up-from-bracket"></i> Job Vacancy</a>
            </div>
        </div> 
        
    </div>
    <!-- </body> -->
    
    <!-- card designing -->
    <br> <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img  src="https://i.pinimg.com/originals/f9/74/58/f9745881d981f12f6378bd878d3bf4c3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ABH Kinderland</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
                 <div class="col">
                    <ul class=" list-group">
                        <li class="list-group-item"> School Name : ABH Kinderland
                        </li>
                        <li class="list-group-item"> Mobile: 9874561230
                         </li>
                         <li class="list-group-item">E-mail: ABHKinderland@gmail.com
                        </li>
                    </ul>
                </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img  src="https://i.pinimg.com/564x/18/e1/70/18e17092466cb8fa15689cfcc299d8a8.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MAC Kinderland</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
                   <div class="col">
                      <ul class=" list-group">
                          <li class="list-group-item"> School Name : MAC Kinderland
                          </li>
                          <li class="list-group-item"> Mobile: 7845964152
                           </li>
                           <li class="list-group-item">E-mail: MACKinderland@gmail.com
                          </li>
                      </ul>
                  </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img  src="https://i.pinimg.com/564x/03/5b/92/035b920e0b9825f8665c7f937d9effb5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MICKY Kinderland</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
                   <div class="col">
                      <ul class=" list-group">
                          <li class="list-group-item"> School Name : MICKY Kinderland
                          </li>
                          <li class="list-group-item"> Mobile: 8596744152
                           </li>
                           <li class="list-group-item">E-mail: MICKYKinderland@gmail.com
                          </li>
                      </ul>
                  </div>
            </div>
          </div>
      </div>
      </body>
